---
import GitHub from "./icons/GitHub.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import AstroIcon from "./icons/AstroIcon.astro"
import CSharpIcon from "./icons/CSharpIcon.astro"
import SqlIcon from "./icons/SqlServerIcon.astro"

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  CSHARP: {
    name: "C#",
    class: "bg-violet-600/50 text-white",
    icon: CSharpIcon,
  },
  SQL: {
    name: "SQL Server",
    class: "bg-gray-700 text-white",
    icon: SqlIcon,
  },
}
const PROJECTS = [
{
    title: "Senyal Denim",
    description:
      "Senyal is an online fashion store offering stylish apparel, including vests, shirts, pants, and jeans, with seamless navigation. Created from scratch with Astro, TypeScript y Tailwind CSS.",
    link: "https://senyal2-0.vercel.app",
    github: "https://github.com/maxigrinstein/Senyal2.0",
    image: "/projects/senyal.webp",
    tags: [TAGS.ASTRO,TAGS.TAILWIND],
  },
  {
    title: "Portfolio",
    description: "My personal portfolio, created from scratch with Astro, TypeScript y Tailwind CSS.",
    link: "https://portfolio-maxigrinsteins-projects.vercel.app",
    github: "https://github.com/maxigrinstein/porfolio.dev",
    image: "/projects/portfolio.webp",
    tags: [TAGS.ASTRO,TAGS.TAILWIND],
  },
  {
    title: "Veterinary Clinic",
    description: "A veterinary management system using C#, .NET Framework, and SQL Server Management. This project strengthened my technical and teamwork abilities.",
    github: "https://github.com/SantinoOliveto/GestionVeterinaria",
    image: "/projects/veterinary.webp",
    tags: [TAGS.CSHARP, TAGS.SQL],
  }
  
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github} >
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



